USE [FEMUsers]
GO
/****** Object:  Table [dbo].[RAFA_FAULTIMAGE]    Script Date: 30/03/2023 14:02:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RAFA_FAULTIMAGE](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ImageData] [varbinary](max) NULL,
	[RAFAFaultReportId] [int] NOT NULL,
 CONSTRAINT [PK_RAFA_FAULTIMAGE] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RAFA_FAULTREPORT]    Script Date: 30/03/2023 14:02:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RAFA_FAULTREPORT](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[JtcCaseId] [nvarchar](max) NULL,
	[BuildingCode] [nvarchar](50) NOT NULL,
	[OtherLocation] [nvarchar](200) NULL,
	[Latitude] [nvarchar](10) NOT NULL,
	[Longitude] [nvarchar](10) NOT NULL,
	[SpaceId] [nvarchar](50) NULL,
	[LocationDetails] [nvarchar](50) NOT NULL,
	[FaultDescription] [nvarchar](200) NULL,
	[Salutation] [nvarchar](50) NOT NULL,
	[GivenName] [nvarchar](66) NOT NULL,
	[Surname] [nvarchar](66) NOT NULL,
	[ContactNumber] [nvarchar](8) NOT NULL,
	[EmailAddress] [nvarchar](320) NOT NULL,
	[IsReceiveUpdate] [bit] NOT NULL,
	[CreatedDateTime] [nvarchar](max) NULL,
	[ReportStatus] [nvarchar](max) NULL,
 CONSTRAINT [PK_RAFA_FAULTREPORT] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RAFA_OTP]    Script Date: 30/03/2023 14:02:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RAFA_OTP](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MobileNumber] [nvarchar](max) NULL,
	[OTPCode] [int] NOT NULL,
	[CreatedDateTime] [datetime2](7) NOT NULL,
	[ExpiredDateTime] [datetime2](7) NULL,
	[Verified] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_RAFA_OTP] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[RAFA_FAULTIMAGE] ON 

SET IDENTITY_INSERT [dbo].[RAFA_FAULTIMAGE] OFF
GO
SET IDENTITY_INSERT [dbo].[RAFA_FAULTREPORT] ON 

INSERT [dbo].[RAFA_FAULTREPORT] ([Id], [JtcCaseId], [BuildingCode], [OtherLocation], [Latitude], [Longitude], [SpaceId], [LocationDetails], [FaultDescription], [Salutation], [GivenName], [Surname], [ContactNumber], [EmailAddress], [IsReceiveUpdate], [CreatedDateTime], [ReportStatus]) VALUES (1, N'RAFA_220001', N'B334', NULL, N'1.298825', N'103.787759', N'null', N'test', N'test', N'Miss', N'test', N'test', N'12341234', N'test@gmail.com', 1, N'2022-10-07T16:46:14', N'In-Progress')
INSERT [dbo].[RAFA_FAULTREPORT] ([Id], [JtcCaseId], [BuildingCode], [OtherLocation], [Latitude], [Longitude], [SpaceId], [LocationDetails], [FaultDescription], [Salutation], [GivenName], [Surname], [ContactNumber], [EmailAddress], [IsReceiveUpdate], [CreatedDateTime], [ReportStatus]) VALUES (2, N'RAFA_222', N'B334', NULL, N'1.298825', N'103.787759', N'null', N'test', N'test', N'Miss', N'test', N'test', N'12341234', N'test@gmail.com', 1, N'2022-10-07T16:54:32', N'In-Progress')
INSERT [dbo].[RAFA_FAULTREPORT] ([Id], [JtcCaseId], [BuildingCode], [OtherLocation], [Latitude], [Longitude], [SpaceId], [LocationDetails], [FaultDescription], [Salutation], [GivenName], [Surname], [ContactNumber], [EmailAddress], [IsReceiveUpdate], [CreatedDateTime], [ReportStatus]) VALUES (3, N'RAFA_220003', N'B516', NULL, N'1.298284', N'103.789111', N'null', N'test', N'est', N'Miss', N'test', N'test', N'12341234', N'test@gmail.com', 1, N'2022-10-07T16:59:46', N'In-Progress')
SET IDENTITY_INSERT [dbo].[RAFA_FAULTREPORT] OFF
GO
SET IDENTITY_INSERT [dbo].[RAFA_OTP] ON 

INSERT [dbo].[RAFA_OTP] ([Id], [MobileNumber], [OTPCode], [CreatedDateTime], [ExpiredDateTime], [Verified], [IsActive]) VALUES (1, N'12341234', 430962, CAST(N'2022-10-07T16:45:40.5504102' AS DateTime2), CAST(N'2022-10-07T16:45:45.6069409' AS DateTime2), 1, 0)
INSERT [dbo].[RAFA_OTP] ([Id], [MobileNumber], [OTPCode], [CreatedDateTime], [ExpiredDateTime], [Verified], [IsActive]) VALUES (2, N'12341234', 766183, CAST(N'2022-10-07T16:59:05.7369008' AS DateTime2), CAST(N'2022-10-07T16:59:09.0420554' AS DateTime2), 1, 0)
INSERT [dbo].[RAFA_OTP] ([Id], [MobileNumber], [OTPCode], [CreatedDateTime], [ExpiredDateTime], [Verified], [IsActive]) VALUES (3, N'12341234', 599882, CAST(N'2022-10-10T09:27:17.2214535' AS DateTime2), CAST(N'2022-10-10T09:27:21.4456185' AS DateTime2), 1, 0)
SET IDENTITY_INSERT [dbo].[RAFA_OTP] OFF
GO
ALTER TABLE [dbo].[RAFA_FAULTIMAGE]  WITH CHECK ADD  CONSTRAINT [FK_RAFA_FAULTIMAGE_RAFA_FAULTREPORT_RAFAFaultReportId] FOREIGN KEY([RAFAFaultReportId])
REFERENCES [dbo].[RAFA_FAULTREPORT] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RAFA_FAULTIMAGE] CHECK CONSTRAINT [FK_RAFA_FAULTIMAGE_RAFA_FAULTREPORT_RAFAFaultReportId]
GO
